.splash-screen {
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: top .2s ease-out;

    &__text {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__link {
        display: block;
    }
}

.splash-screen.close {
    top: -100%;
}