.main-header {
    padding: 2em 0 1.5em;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .4s ease-in-out;

    @media (max-width: 767px) {
        background: #000;
        padding: .5em 0 .2em;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__addons {
        display: flex;
    }
}

// .main-header.relative {
    // position: relative;
    // background: #000;
// }

.main-header.fixed {
    position: fixed;
    top: 0;
    background: #000;
}

.main-header.bg {
    background: #000;
}

.logo {
    &__image {
        width: 128px;
        height: 128px;
        border-radius: 100%;
        transition: opacity .2s ease-in-out;

        &:focus,
        &:hover {
            opacity: .75;
        }

        @media (max-width: 767px) {
            width: 64px;
            height: 64px;
        }
    }
}

.main-header__addons {
    @media (max-width: 767px) {
        display: none;
    }

    img {
        border-radius: 100%;
    }
}

.search {
    margin-right: 1em;
    transition: opacity .2s ease-in-out;

    &:focus,
    &:hover {
        opacity: .75;
    }
}

.languages-switch a:last-child {
    margin-left: .5em;
}

.languages-switch__link {
    display: inline-block;
    height: 48px;
    width: 48px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-indent: -999999999px;
    overflow: hidden;
    transition: opacity .2s ease-in-out;

    &:focus,
    &:hover {
        opacity: .75;
    }
}

#bahasaIndonesia {
    background: url('../images/Flag-Indonesia.jpg') center/cover no-repeat;
}

#english {
    background: url('../images/Flag-United-States-of-America.jpg') center/cover no-repeat;
}

.search {
    position: relative;
    cursor: pointer;
    margin-right: 2em;
    display: inline-block;
    height: 48px;
    width: 48px;
    // text-indent: -999999999px;
    // overflow: hidden;
    background: url('../images/search-icon-white.svg') center/contain no-repeat;
}

.search__form {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 64px;
    right: 0;
    background: none;
    display: flex;
    // border: 2px solid $clr-primary;
    // border-radius: .5em;
    // overflow: hidden;
}

.search__form.active {
    opacity: 1;
    visibility: visible;
}

.search__form ::placeholder {
    color: #fff;
    text-transform: capitalize;
    text-align: left;
}

.search__input {
    border: 0;
    background: none;
    padding: .5em 1em;
    outline: 0;
    color: #fff;
    border: 2px solid $clr-primary;
    border-right: 0;
    border-radius: .5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search__btn {
    @include button($clr-primary, #000);
    padding: .25em 1em;
    border: 2px solid $clr-primary;
    border-left: 0;
    border-radius: .5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: opacity .2s;

    &:focus,
    &:hover {
        opacity: .75;
    }
}