.main-header {
    padding: 2em 0 1.5em;
    position: absolute;
    z-index: 999999999;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .4s ease-in-out;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__addons {
        display: flex;
    }
}

.main-header.fixed {
    position: fixed;
    top: 0;
    background: #000;
}

.logo {
    &__image {
        width: 128px;
        height: 128px;
        border-radius: 100%;
    }
}

.main-header__addons {
    img {
        border-radius: 100%;
    }
}

.search {
    margin-right: 1em;
}

.languages-switch a:last-child {
    margin-left: .5em;
}

.languages-switch__link {
    display: inline-block;
    height: 48px;
    width: 48px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-indent: -999999999px;
    overflow: hidden;
}

#bahasaIndonesia {
    background: url('https://cdn.britannica.com/48/1648-004-644EBE62/Flag-Indonesia.jpg') center/cover no-repeat;
}

#english {
    background: url('https://cdn.britannica.com/33/4833-050-0FE70191/Flag-United-States-of-America.jpg') center/cover no-repeat;
}

.search {
    position: relative;
    cursor: pointer;
    margin-right: 2em;
    display: inline-block;
    height: 48px;
    width: 48px;
    text-indent: -999999999px;
    // overflow: hidden;
    background: url('images/search-icon-white.svg') center/contain no-repeat;
}

.search__form {
    position: absolute;

}