.article .main-header {
    background: #000;
}

.article .main-header .main-nav {
    border-top: 2px solid $clr-primary;
    border-bottom: 2px solid $clr-primary;
    padding: .25em 0;
    transition: border-color .2s ease-in-out;
}

.article .main-header .main-nav.fixed {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.article .main-header .menu-list {
    &:hover .menu-list__item a:not(:hover) {
        color: $clr-primary;
    }

    .menu-list__item {
        &:not(:first-child) {
            margin-left: 1em;
        }

        a {
            color: $clr-primary;
            transition: color .2s ease-in-out;

            &:focus,
            &:hover {
                color: #fff;
            }
        }
    }

    .menu-list__item.active {
        color: #fff;

        a {
            color: inherit;
        }
    }
}

.article .search {
    background: url('../images/search-icon-green.svg') center/contain no-repeat;
}

.article {
    background: #fff;
    padding-top: 5.15em;
}

.article__header {
    position: relative;
    margin-bottom: 1.5em;
}

.article__content {
    * {
        margin-bottom: 1em;
    }

    iframe {
        width: 100%;
        min-height: 480px;
    }
}

// .article__meta {
//     position: absolute;
//     top: 50%;
//     color: #000;
//     transform: translateY(-50%);
// }

.article__title {
    line-height: 1.25em;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0;
}

.article__subtitle {
    color: #555;
    font-weight: 700;
}

.article__content {
    color: #000;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.featured {
    position: relative;
    overflow: hidden;
    height: 80vh;

    @media (min-height: 901px) {
        height: 640px;
    }
}

.featured__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-category {
    position: relative;
    display: flex;
    width: 100%;
    height: 320px;
}

.article-category__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.article-category__item {
    height: 100%;
    width: 100%;
    background: center/cover no-repeat;
}

.article-category__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-shadow: 2px 4px 8px rgba(0 , 0, 0, .37);
}

.author {
    font-size: 1.75rem;
    font-weight: 700;
    font-style: italic;
}

.author__name {
    text-transform: uppercase;
}